<div>
    <tcgo-head [pageTitle]="pageTitle"></tcgo-head>
    <table style="width: 90%">
        <th id="newbtn"><a routerLink="/user/new">Add New User</a></th>
    </table>
    <table class="table table-sm table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Total Cards</th>
                <th>Admin</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let u of users" (click)="userDetail(u.id)">
                <td>{{u.id}}</td>
                <td>{{u.name}}</td>
                <td>{{u.username}}</td>
                <td>{{u.email}}</td>
                <td>{{u.totalCards}}</td>
                <td>{{u.isAdmin}}</td>
            </tr>
        </tbody>
    </table>




</div>
