<div>
    <tcgo-head [pageTitle]="pageTitle"></tcgo-head>

    <table class="table table-sm">
        <tbody>
            <tr>
                <th>Id</th>
                <td><input [(ngModel)]="user.id" type="number" disabled></td>
            </tr>
            <tr>
                <th>Name</th>
                <td><input [(ngModel)]="user.name" size="25"></td>
            </tr>
            <tr>
                <th>Username</th>
                <td><input [(ngModel)]="user.username" size="25"></td>
            </tr>
            <tr>
                <th>Email</th>
                <td><input [(ngModel)]="user.email" size="25"></td>
            </tr>
            <tr>
                <th>Total Cards</th>
                <td><input [(ngModel)]="user.totalCards" type="number"></td>
            </tr>
            <tr>
                <th>Admin</th>
                <td><input [(ngModel)]="user.isAdmin" type="checkbox"></td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm">
        <tr>
            <th></th>
            <td id="tdnew">
                <button id="newbtn" (click)="addNew()" class="btn btn-info">Add User</button>
            </td>
        </tr>
    </table>
</div>
