<div>
    <form>
        <h3>(***) TCG Organizer Login (***)</h3><br>
        <table class="table table-sm table-hover" id="usertable">
            <thead>
                <tr>
                    <th>Users</th>
                </tr>
            </thead>
            <tbody *ngIf="users">
                <tr *ngFor="let u of users">
                    <td (click)="clickMe()">{{u.username}}</td>
                    <td *ngIf="userclick" [(ngModel)]="username" name="username"><input [(ngModel)]="password" placeholder="password?" name="password" size="30"  ></td>

                </tr>
            </tbody>
        </table>
        <br>
        <div id="loginMessage" class="text-danger h5">{{message}}</div>
    </form>
</div>

<!--
Would like to have the login screen show a table with the current users.
On click it would expand another row asking for password input.
This would have to auto pass in the username of the clicked user though..

-->
